.arrow{
  display: none;
  @media (min-width: 1400px) {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;  
    top: 50%;
    right: 15%;     
    animation-name: appear, twinkle, move;
    animation-duration: 1.8s, 1.8s, 2s; 
    animation-timing-function: ease-in, ease-in, linear;
    animation-iteration-count: 1, infinite, infinite;
    animation-delay: 0s, 1.8s, 1.8s;
    animation-direction: normal, normal, alternate;    
  } 
}
@keyframes twinkle {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;    
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 80px 30px 40px;
  text-align: center;
}

.title {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  background-image: linear-gradient(to right, #3737d7, #df4a64);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;    
  letter-spacing: 2.5px;
  z-index: 1;
  margin-bottom: 30px;

  @media(min-width: 767px){
    animation-name: appear, move;
    animation-duration: 0.8s, 2s; 
    animation-timing-function: ease-in, linear;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 2.3s;
    animation-direction: normal, alternate;
    margin-bottom: 60px;
  }
    

  @media(max-width: 767px){
    &{
      font-size: 3rem;
    }    
  }
}

@keyframes appear {
  from{
    opacity: 0;
    transform: scale(0.5) ;
  }
  to{
    opacity: 1;    
    transform: scale(1) ;
  }
}

@keyframes move {
  from{   
    transform: translateX(0px);
  }
  to{   
    transform: translateX(10px);
  }
}


.list {
  width: 100%;
  display: block;
  position: relative;
  
}
.item {
  // &:not(:last-child){
    margin-bottom: 100px;
  // }

  @media(max-width: 767px){
    // &:not(:last-child) {
      margin-bottom: 60px;       
    // }
  } 
}
.image{   
    margin: 0 auto;   

    @media(min-width: 768px){
      &{
        max-width:756px; 
        opacity: 1;         
        transform: scale(1) translateX(0%); 
        transition: all 0.8s ease;
      
        &[class*="hidden"]{
          opacity: 0;
          transform: scale(0.6) translateX(-50%); 
        
      }
    }
  }
}
  
.photoblock{
  width: 100%;
  border-radius: 10px; 
  z-index: 1;
  position: relative; 
}
.link{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;  
  overflow: hidden;   
  box-shadow: 0px 0px 10px rgba(255,255,255, 1);  
  transition: all 0.5s ease; 
  
  &:hover{    
    box-shadow: 0px 0px 10px 3px #dfb7e3;
  } 
  
}

.desc{  
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;  

  @media(min-width: 768px) and (max-width: 991px){
    &{
      padding: 0 0 0 10px;  
       
    }
  }
  @media(max-width: 768px){
    padding: 0;
  }
  
}
.block{
  width: 100%;
  height: fit-content;  
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #fff;
  padding: 10px;
  margin-bottom: 15px;

  background-color: #fffbfb;
  max-width: 756px;
  margin: 0 auto 20px;
  color: #1a191a;

  @media(min-width: 768px){
    &{  
      padding: 15px;       
      transform: translateX(0%);
      opacity: 1;
      transition: all 0.8s ease;    

      &[class*="hidden"]{
        opacity: 0;
        transform: translateX(37%);    
      }
    }
  }    
}

.sublist{
  display: flex;
  flex-wrap: wrap;
 
}
.subtitle{
  text-align: center;
  font-size: 1.3rem;
  transform: translateY(0%);
  transition: all 0.5s ease; 

  &[class*="hidden"]{
    transform: translateY(50%); 
   
  }
  @media(max-width: 575px){
    font-size: 1rem;
    line-height: 1;
  }  
}
	
.label{
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 0.5em;
  background-color: #b4b4b4;
  color: var(--dark);
  margin-bottom: 15px;  
  
  @media (min-width: 768px){ 
    &{
      transform: scale(1);
      opacity: 1; 
    }
    &[class*="hidden"]{
      opacity: 0;
      transform: scale(0);    
    }
  } 
  @media (max-width: 767px){ 
    &{
        padding: 2px 7px;
        border-radius: 8px; 
    }
  } 
}
.footer{
  position: absolute;
  width: 100%;
  padding: 15px 0;
}

.footerlist{  
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-bottom: 15px;
  &:before{
    position: absolute;
    content:"";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #565353;
    top: 0;
    left: 0;
  }

  a + a {
    margin-left: 20px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  color: #fffbfb;
  cursor: pointer;
  transition: color 0.3s ease;
 
  @media (any-hover: hover) {
    &:hover{
      // color: #8b3c94;
      color: #4e474f;
    }
  }
}


.footerend{
  text-align: center; 
}